/* 5. Get the following fonts from Google Fonts: Oswald, Rambla, and Staatliches */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Rambla&family=Staatliches&display=swap');

body{
    margin: 0;
    padding: 0;
}


:root{
    --color-black: #000000;
    --color-white: #ffffff;
    --color-border: #ffffff34;
    --font-staat: 'Staatliches', cursive;
    --font-os: 'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;
}


.font-staat{
    font: normal 400 18px var(--font-staat);
}

.font-os{
    font: normal 300 18px var(--font-os);
}

.font-ram{
    font: normal bold 18px var(--font-ram);
}




/* 1 add a bgcolor-black class in CSS then go to index.html for 2.  */

.bgcolor-black {
    background-color: var(--color-black) 
}

/* 3. Add the following font sizes */

.font-size-40{
    font-size: 40px;
}

.font-size-34{
    font-size:  34px;
}

.font-size-27{
    font-size:27px;
}

.font-size-20{
    font-size: 20px
}

.font-size-16{
    font-size:16px
}

.font-size-40{
    font-size:
}

/* #global classes */

/* 6. add the following CSS to the header */
#header nav{
    height: 100vh;
}

#header .site-title .navbar-brand{
    letter-spacing: 2px;
    color: var(--color-white);
}

#header .nav-link{
    margin: .7rem 1rem;
    border-bottom: 1px solid var(--color-border);
    text-transform: uppercase;
}

#header .nav-link:hover{
    color: var(--color-white)!important;
}

/* 7 add the following header css */

#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transition: left .5s ease;
}