/* 5. Get the following fonts from Google Fonts: Oswald, Rambla, and Staatliches */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Rambla&family=Staatliches&display=swap');

/* 7 add the following to thh body */

body{
    margin: 0;
    padding: 0;
}

/* 8.add the following variables */
:root{
    --color-black: #000000;
    --color-white: #ffffff;
    --color-border: #ffffff34;
    --font-staat: 'Staatliches', cursive;
    --font-os: 'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;
}

/* 9 add the following global classes */

/* global classes */

.font-staat{
    font: normal 400 18px var(--font-staat);
}

.font-os{
    font: normal 300 18px var(--font-os);
}

.font-ram{
    font: normal bold 18px var(--font-ram);
}

